<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/image.jpg" alt="M Fauzan F" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">M Fauzan F</h1>
            <p class="lead">Gamers | Dreamer</p>
        </div>
    </div>
</div>